mixin nav(config, level = 0)
  ul
    each el in config
      +nav-element(el, level)
        
mixin nav-element(el, level)
  li 
    if el.children
      nav-link
        a(href="#")
          #{`h${level+4}`}= el.label
        +nav(el.children, level + 1)
    else
      a(href=`./?spec-url=${el.link}` class="spec-link")= el.label
