mixin nav(config)
  ul
    each el in config
      +nav-element(el)
        
mixin nav-element(el)
  li 
    if el.children
      = el.label
      +nav(el.children)
    else
      a(href=`./?spec-url=${el.link}`)= el.label
