doctype
include helper/navigation-helper.pug
html(lang='en')
  head
    meta(charset='utf-8')
    title Swagger Spec Server
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css")
    link(rel="stylesheet" href="./assets/css/main.css")
    script(src="./vendor/document-register-element/build/document-register-element.js" defer)
    script(src="./assets/js/components.js" defer)
  body
    main.row
    
      aside.column.column-25.navigation
        nav
          +nav(config)
          
        form(action="./" method="GET")
          label(for="url")
            | Spec URL
            input(type="text" name="spec-url" placeholder="url" value=specUrl)
            button(type="submit") Go
      
            
      - const currentSpecUrl = specUrl || (config[0] && config[0].link)
      if currentSpecUrl
        section.content.column.column-75
          full-height-container
            swagger-frame-cleaner
              iframe(src=`./swagger-ui/?url=${currentSpecUrl}` width="100%" height="800px")
        
